<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title><%= title || 'App' %></title>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>