<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title><%= title || 'Error title' %></title>
    <link rel="stylesheet" href="public/style.css">
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <%- include(page, locals) %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>